@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&family=Monda:wght@400..700&family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');

@mixin text_decor($family, $font_weight, $size) {
    font-family: $family;
    font-weight: $font_weight;
    font-size: $size;
}

@mixin btn_decor($width, $height, $color, $backgr) {
    width: $width;
    height: $height;
    color: $color;
    background-color: $backgr;
    cursor: pointer;
}

.text_container {
    width: 60%;
    height: 1117px;
    background-color: #0B0219;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.web1_block_one {
    width: 271px;
    height: 90px;
    border: 3px solid red;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        @include text_decor('Mukta Mahee, sans-serif', 700, 48px);
        color: white;
    }
}

.block_text {

    text-align: center;

    p {
        @include text_decor('Mohave, sans-serif', 700, 36px);
        color: white;
        margin: 20px;
    }
}

.web1_block_three {
    width: 60%;
    text-align: center;

    p {
        margin: 0;
        @include text_decor('Monda, sans-serif', 400, 20px);
        color: white;
    }
}

.web1_block_four {
    p {
        @include text_decor('Mohave, sans-serif', 700, 40px);
        color: white;
    }
}


.container_btn {
    width: 385px;
    height: 70px;
    display: flex;
    justify-content: space-around;

    .btn_yes {
        @include btn_decor(163px, 70px, white, #20C982);
        @include text_decor('Mukta Mahee, sans-serif', 700, 48px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    .btn_no {
        @include btn_decor(163px, 70px, white, #470A0A);
        @include text_decor('Mukta Mahee, sans-serif', 700, 48px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.web2_container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web2_block_text {
    width: 75%;
    text-align: center;

    p {
        @include text_decor('Mohave, sans-serif', 700, 36px);
        color: white;
    }
}

.web5_hide_text {
    margin-bottom: 40px;

    p {
        @include text_decor('Monda, sans-serif', 400, 16px);
        color: #84759B;
    }
}

.btn_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    @include btn_decor(404px, 70px, white, #20C982);
    @include text_decor('Mukta Mahee, sans-serif', 700, 48px);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text_progres {
    margin-top: 100px;
    align-self: flex-start;

    p {
        @include text_decor('Monda, sans-serif', 400, 20px);
        color: white;
        margin-left: 45px;
    }

}

.container_progress {
    width: 769px;
    height: 16px;
    display: flex;
}

.green_progress {
    width: 285px;
    height: 16px;
    background-color: #20C982;
}

.white_progress {
    width: 484px;
    height: 16px;
    background-color: white;
}

.web9_block_one {
    width: 402px;
    height: 90px;
    border: 3px solid #20C982;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        @include text_decor('Mukta Mahee, sans-serif', 700, 48px);
        color: white;
        margin: 0;
    }
}

.web9_block_four {
    text-align: center;

    p {
        @include text_decor('Mukta Mahee, sans-serif', 700, 36px);
        color: #20C982;
        margin: 10px;
    }
}

.container_rules {
    width: 734px;
    height: 280px;
    background-color: rgb(65, 65, 82);
    display: flex;
    flex-direction: column;

    img {
        width: 30px;
        height: 30px;
    }
}

.head_cont {
    @include text_decor('Mohave, sans-serif', 700, 24px);
    color: white;
    margin-left: 10px;
}

.rul {
    margin-left: 5px;
    display: flex;
    color: white;

    p {
        margin: 0 0 20px 0;
    }

}

.web9_hide_text{
    margin-bottom: 10px;
    width: 340px;
    align-self: center;
    text-align: center;

    p {
        @include text_decor('Monda, sans-serif', 400, 16px);
        color: #84759B;
    }
}